* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
}
.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

/* header start */
.header_logo_group {
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;

}

.header_logo_group_logo {
    display: flex;
    gap: 41px;
    align-items: center;
}
/* header end */
/* title start */
.title {
    background-color: #F1E4E6;
    /* margin-left: -170px; */
}

.title_background {
    background: no-repeat url(./img/title.png) lightgray 21%;
    background-position: calc(50% - 430px);
}

.title_content {
    display: flex;
    height: 764px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

.title_header {
    display: flex;
}

.title_header-square {
    display: block;
    width: 12px;
    height: 92px;
    /* flex-shrink: 0; */
    color: #F16D7F;
}

.title-header {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    max-width: 377px;
}


.title-header-down {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-header-red {
    color: #F16D7F;
}
/* title end */
/* offer start */
.offer_card {
    fill: rgba(33, 22, 22, 0.70);
    width: 360px;
    height: 260px;
    flex-shrink: 0;
}

.offer_card {
    padding: 105px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    fill: rgba(33, 22, 22, 0.70);
    /* z-index: 2; */
}

.offer_card-1 {
    background: url(./img/offer_card_1.jpg);
    height: 100%;
}

.offer_card-text {
    color: #FFF;
    text-align: center;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.offer_card-group {
    color: #F16D7F;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* offer end */