* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header_logo_group {
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;

}

.header_logo_group_logo {
    display: flex;
    gap: 41px;
    align-items: center;
}