.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.navbar-toggler-icon {
    filter: invert(99%) sepia(1%) saturate(266%) hue-rotate(166deg) brightness(114%) contrast(82%);
}

.center_title {
    padding-left: calc(50% - 1000px);
    padding-right: calc(50% - 1000px);
    background-color: #F1E4E6;
}