$widthDuck: 80px;
$duckCount: 4;
$timeFlyDuck: 3s;

@for $i from 1 through $duckCount {
    
    @keyframes duck-fly-#{$i} {
        0% {
            left: -$widthDuck;
            top: random(90)+vh;
        }
        
        30% {
            left: random(30)+vh;
            top: random(50)+vh;
        }

        75% {
            left: random(50)+vh;
            top: random(75)+vh;
        }

        100% {
            left: 100vw;
            top: random(90)+vh;
        }
    }
  }

.body {
    counter-reset: count;
    height: 100vh;
    margin: 0;
    background-image: url('./image/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.duck-check {
    position: absolute;
    visibility: hidden;
    left: -9999999px;

    &:checked {
        counter-increment: count;

        & ~ label {
            display: none;
        }
    }
}


.counter-info {
    position: absolute;
    top: 14px;
    right: 54px;
    font-size: 40px;
    font-family: sans-serif;

    &::before {
        content: counter(count);
    }
}

.duck {
    position: absolute;

    &__img {
        width: $widthDuck;
    }
    @for $i from 1 through $duckCount {
          &_#{$i} {
              animation: duck-fly-#{$i} $timeFlyDuck ease-in #{$i}s both;
            }
    }
}