@media (width < 769px) {
    .center {
        /* padding-left: calc(50% - 16px); */
        padding-left: 16px;
        /* padding-right: calc(50% - 16px); */
        padding-right: 16px;
    }

    .header {
        &_logo_group {
            padding-left: 32px;
            padding-right: 32px;
        }
    }
    
    .title {
        // padding-right: 29px;
        
        &_content {
            &_img {
                width: 384px;
            }
            height: auto;
        }
        
        &_center {
            padding-left: 0;
            padding-right: 0;
        }
        
        &-header {
            font-size: 44px;
            padding-left: 16px;

            &-down {
                font-size: 24px;
            }
        }
    }

/*     .offer {
        &_content {
            margin-top: 20px;
        }

        &_cards_up {
            gap: 19px;
        }

    } */

    .sale {
        gap: 20px;

        &__text {
            width: 155px;
        }

        &__img {
            height: 100%;
        }
    }

    .products {
        &_elements {
            gap: 16px;
        }
    }

    .footer {
        &_head {
            gap: 48px;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 48px;
            padding-bottom: 64px;
        }

        &_title {
            flex-wrap: wrap;
            gap: 48px;
        }
    }
}