* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header_logo_group {
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
.header_logo_group_logo {
  display: flex;
  gap: 41px;
  align-items: center;
}
.header_nav {
  display: flex;
  gap: 33px;
  align-items: center;
}

.title {
  background-color: #f1e4e6;
  /* margin-left: -170px; */
}
.title_center {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}
.title_content {
  display: flex;
  height: 764px;
  /* margin-right: 30px; */
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.title_headers {
  display: flex;
  justify-content: flex-start;
}
.title-header {
  color: #222;
  font-size: 48px;
  font-weight: 900;
  max-width: 377px;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}
.title-header-down {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.title-header-red {
  color: #F16D7F;
}

.offer_content {
  margin-top: 65px;
}
.offer_cards_up {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.offer_card {
  position: relative;
}
.offer_card-1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  gap: 5px;
}
.offer_card-text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.offer_card-group {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.offer_cards_down {
  margin-top: 30px;
}

.products {
  margin-top: 96px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}
.products_header {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}
.products_header-head {
  color: #222;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}
.products_header-text {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.products_elements {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.products_card {
  width: 360px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.products_card_img {
  position: relative;
  height: 420px;
}
.products_card-img {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 1;
  transition: 0.3s;
}
.products_card_img:hover .products_card-img {
  filter: brightness(0.3);
}
.products_card_img:hover .products_card_img-button {
  display: flex;
  gap: 11px;
  align-items: center;
  padding: 11px 16px 9px 14px;
  border: 2px solid #fff;
  left: 111px;
  top: 156px;
  position: absolute;
}
.products_card_img:hover .products_card_img-button .products_card_img-button-text {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.products_card_down {
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}
.products_card_down_header {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.products_card_down_text {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}
.products_card_down_price {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.products_button {
  border: 1px solid #ff6a6a;
  padding: 15px 38px;
}
.products_button_link {
  color: #f26376;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.page_product_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f8f3f4;
}
.page_product_top_left a {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}
.page_product_top_right {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}
.page_product_top_right span {
  font-weight: 900;
}
.page_product_title_slider {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  padding: 11px 0px;
}
.page_product_title_product_description {
  margin-top: -64px;
}
.page_product_title_product_description_outer_frame {
  padding-top: 65px;
  padding-bottom: 65px;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  width: 1140px;
  background-color: #fff;
}
.page_product_title_product_description_name {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-transform: uppercase;
}
.page_product_title_product_description_border {
  margin-top: 12px;
  border-bottom: 3px solid #ef5b70;
  width: 64px;
}
.page_product_title_product_description_header {
  margin-top: 12px;
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
}
.page_product_title_product_description_text {
  color: #5e5e5e;
  margin-top: 49px;
  width: 555px;
  text-align: center;
}
.page_product_title_product_description_price {
  margin-top: 32px;
  color: #ef5b70;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}
.page_product_title_product_description_hr {
  margin-top: 65px;
  width: 641px;
  height: 1px;
  background-color: #ef5b70;
}
.page_product_title_product_description_filter_group {
  display: flex;
  gap: 23px;
  margin-top: 64px;
  margin-bottom: 48px;
}
.page_product_title_product_description_filter_group a {
  display: flex;
  gap: 9px;
}
.page_product_title_product_description_filter_group_color_name {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.page_product_title_product_description_filter_group_color_svg {
  fill: #6f6e6e;
  margin-top: -5px;
}
.page_product_title_product_description_button_link {
  display: flex;
  gap: 23px;
  align-items: center;
}
.page_product_additional_cards {
  margin-top: 129px;
  margin-bottom: 129px;
}

.footer_head {
  padding-top: 104px;
  padding-bottom: 104px;
  background-color: #222224;
  display: flex;
  gap: 30px;
}
.footer_head_card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.footer_head_card_head {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.footer_head_card_text {
  width: 360px;
  text-align: center;
  color: rgb(251, 251, 251);
  font-size: 13.97px;
  font-weight: 300;
  line-height: 17px;
}
.footer_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 97px;
  padding-bottom: 126px;
}
.footer_title_background {
  background-image: url("./img/footer_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer_title_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer_title_left_pic {
  width: 96px;
}
.footer_title_left_text {
  width: 360px;
  text-align: center;
  color: rgb(34, 34, 36);
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.footer_title_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer_title_right_text {
  color: rgb(34, 34, 36);
  font-size: 18px;
  font-weight: 400;
  width: 440px;
  text-align: center;
}
.footer_title_right_header {
  font-size: 24px;
  font-weight: 700;
}
.footer_title_right_input {
  display: flex;
}
.footer_title_right_input_email {
  background-color: #e1e1e1;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: none;
  border-radius: 25px 0 0 25px;
  padding: 17px 22px;
}
.footer_title_right_input_button {
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: none;
  border-radius: 0 25px 25px 0;
  padding: 17px 22px;
}
.footer_title_right_input_button:hover {
  color: #eaeaea;
  cursor: pointer;
}
.footer_title_right_input_button:active {
  transform: matrix(1.1, 0, 0, 1, 6, 0);
}
.footer_down {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer_down_left {
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.footer_down_icons {
  display: flex;
  gap: 7px;
}/*# sourceMappingURL=style.css.map */