@font-face {
  src: url(https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700;800&display=swap);
  font-family: "Forum", serif;
  font-family: "Inter", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.title_image_welcome {
  width: 1440px;
}

.header {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

.header_name {
  font-family: "Forum";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}

.header_links {
  /* display: flex; */
  /* gap: 30px; */
  /* align-items: center; */
  color: #fff;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 250% */
}

.about_images {
  /* display: flex; */
  /* gap: 25px; */
  /* width: 450px; */
}

.title_top {
  color: #fff;
  text-align: center;
  font-family: "Forum";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 35px 40px;
  display: flex;
  width: 600px;
  height: 220px;
  justify-content: center;
  align-items: center;
  background: #0c0c0e;
}

.header_section {
  color: #0c0c0e;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 20px;
}

.header_section-line {
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  background: #0c0c0e;
  margin-top: 20px;
}

.about_top-text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  margin-top: 40px;
}

.about_images {
  margin-top: 20px;
}

.about_img-pic {
  margin-top: 40px;
  margin-bottom: 40px;
}

.favorites_top-text {
  color: #000;
  text-align: center;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.favorites_selection {
  color: #000;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.favorites_selection:active  {
  font-weight: 700;
}