@font-face {
  src: url(https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700;800&display=swap);
  font-family: "Forum", serif;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.title_image_welcome {
  width: 1440px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_name {
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}

.header_links {
  display: flex;
  gap: 30px;
  align-items: center;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 250% */
}
.about_images {
  display: flex;
  gap: 25px;
  width: 450px;
}
