@font-face {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@200;300;500;700&display=swap);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.center{
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

body {
    /* position: relative; */
    /* background-image: url(image/Travel_Time.jpg); */
    /* background-repeat: no-repeat; */
}

.img_fon {
    background-image: url(image/Travel_Time.jpg);
    background-repeat: no-repeat;
}

.header {
    display: flex;
    gap: 128px;
    margin-top: 73px;
}

.header_link {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 73 px;
    /* position: absolute; */
}

.header_link:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #000;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* width: 72px; */
    height: 2px;
    /* flex-shrink: 0; */
}

.welcome {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

/* .welcome_image {
    display: inline;
    position: absolute;
} */


.welcome_title {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 110px;
}

.welcome_text {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
    width: 749px;
}

.welcome_button {
    padding: 16px 28px;
    display: flex;
    width: 191px;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #00B43D;
    background: #00B43D;
    /* Shadow/xs focused 4px error-100 */
    box-shadow: 0px 0px 0px 4px #FEE4E2, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 116.667% */
    margin-top: 369px;
}